@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Rubik", sans-serif;
}

.bg-hero {
  background-image: url("./assets/images/CookingBG.jpg");
  background-position: center;
}

@media (max-width: 524px) {
  html {
    font-size: 62.5%;
  }
}
